body {
  font-family: Archivo, Arial, Helvetica, sans-serif;
}

div.titulo {
  font-size: 24px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

div.product-list {
  padding: 15px;
}

div.label {
  font-family: "Roboto", sans-serif;
}
